/* Style for the button */
.quote-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote-button {
    background-color: rgba(128, 128, 128, 0.9);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the form (initially hidden) */
.quote-form {
    display: block;
    margin-top: 20px;
}

/* Style for the form fields */
.quote-form label {
    display: block;
    margin: 10px 0 5px;
}

.quote-form input, .quote-form select, .quote-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.quote-form button {
    background-color: rgba(128, 128, 128, 0.9);
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 70%;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
/* Modal container */
.modal {
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Example height, adjust as needed */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
      }
}